{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true
  },
  "globals": ["require", "module", "Promise", "Proxy"],
  "rules": {
    // enable additional rules
    "indent": ["error", "tab"],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double", {"allowTemplateLiterals": true}],
    "semi": ["error", "always"],

    // override default options for rules from base configurations
    "comma-dangle": ["error", "never"],
    "no-cond-assign": ["error", "always"],

    // disable rules from base configurations
    "no-console": "off"
  }
}